body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
p {
  font-size: 16px;
}
.headerDoc {
  color: #005580;
}
span.note {
  font-size: 14px;
}
.source-area {
  width: 100%;
  height: 200px;
  background: #D9D9D9;
}
#css-download, #javascript-download {
  display: none;
}
.select, .select2 {
  float:left;
}
.select2 {
  padding-left: 20px;
}
@media (max-width: 978px) {
  .select2 {
    padding-left: 0px;
    float:left;
    width: 100%;
  }

  #fork-me {
    display: none;
  }

}
.inline {
  display: inline-block;
  width: 400px;
  margin-top: 3px;
  position: absolute;
  right: 0;
  top: 0;
}
#editor-button {
  float: left;
}